{% assign pf_active = request.cookies.pf_active %}
{% if pf_active == 'true' %}

  {% assign compatible_products = request.cookies.compatible_products | split: ',' %}
  {% assign filtered_products = collection.products | where: 'id', compatible_products %}
{% else %}
  {% assign filtered_products = collection.products %}
{% endif %}
{%- for product in filtered_products -%}
  {% assign lazy_load = false %}
  {%- if forloop.index > 2 -%}
    {%- assign lazy_load = true -%}
  {%- endif -%}
  {% render 'card-product',
    card_product: product,
    media_aspect_ratio: 'portrait',
    show_secondary_image: false,
    show_vendor: false,
    show_rating: false,
    lazy_load: lazy_load,
    show_quick_add: false
  %}
{%- endfor -%}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-pagination.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div id="partfinderresult">
  <div class="part-finder-section page-width">
    <div v-if="loading" style="width: 100%;min-height: 250px;display: flex;align-items: center;">
      <div style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
        <p>Loading result.....</p>
      </div>
    </div>
    <div v-if="!loading && noprds" class="collection collection--empty page-width">
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          {{ 'sections.collection_template.empty' | t -}}
        </h2>
      </div>
    </div>
    <div v-if="!loading && !noprds" class="collection page-width">
      <ul
        id="product-grid"
        class="
          grid product-grid grid--2-col-tablet-down
          grid--3-col-desktop
        "
      >
        <li class="grid__item" v-for="(product, index) in products" :key="index">
          <div class="card-wrapper product-card-wrapper underline-links-hover">
            <div
              :class="
                [
                  'card card--standard',
                  { 'card--media': product.image, 'card--text': !product.image },
                  { 'card--horizontal': horizontalClass }
                ]
              "
              :style="{ '--ratio-percent': '125%' }"
            >
              <div
                class="card__inner color-background-2 gradient ratio"
                :style="{ '--ratio-percent': '125%' }"
              >
                <!-- Product Image Section -->
                <div v-if="product.image" class="card__media">
                  <div class="media media--transparent media--hover-effect">
                    <img
                      :src="product.image.src"
                      :alt="product.image.alt"
                      class="motion-reduce"
                      loading="lazy"
                    >
                    <img
                      v-if="product.images[1] && showSecondaryImage"
                      :src="product.images[1].src"
                      :alt="product.image[1].alt"
                      class="motion-reduce"
                      loading="lazy"
                    >
                  </div>
                </div>

                <!-- Product Information Section -->
                <div class="card__content">
                  <div class="card__information">
                    <h3 class="card__heading">
                      <a :href="'/products/'+product.handle" class="full-unstyled-link" v-html="product.title"> </a>
                    </h3>
                  </div>

                  <!-- Product Badge (Sold Out, On Sale) -->
                  <div class="card__badge">
                    <span v-if="product.variants[0].inventory_quantity < 1" class="badge badge--bottom-left">
                      Sold Out
                    </span>
                    <span
                      v-else-if="product.variants[0].compare_at_price > product.variants[0].price"
                      class="badge badge--bottom-left"
                    >
                      On Sale
                    </span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__information">
                  <h3 class="card__heading h5">
                    <a :href="'/products/'+product.handle" class="full-unstyled-link" v-html="product.title"></a>
                  </h3>
                  <div class="card-information">
                    <div class="partfinder-status" :data-sku="product.id">
                      <div class="status dahfitted">Fits your selected vehicle</div>
                    </div>
                    <div class="price ">
                      <div class="price__container">
                        <div class="price__regular">
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                          <span
                            class="price-item price-item--regular"
                            v-html="'$'+product.variants[0].price"
                          >
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card__badge bottom left"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="pagination-wrapper">
        <nav class="pagination">
          <ul class="pagination__list list-unstyled" role="list">
            <li v-if="curpgnum!= 1">
              <a
                href="#"
                @click.prevent="cngpgnum(curpgnum-1)"
                class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce"
              >
                {% render 'icon-caret' %}
              </a>
            </li>
            <li v-for="pageNumber in totalpgnum.slice(curpgnum-1, curpgnum+4)">
              <a
                href="#"
                :class="curpgnum == pageNumber?'pagination__item--current light':'link'"
                class="pagination__item"
                @click.prevent="cngpgnum(pageNumber)"
                v-html="pageNumber"
              >
              </a>
            </li>
            <li v-if="curpgnum< totalpgnum.length">
              <a
                href="#"
                class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce"
                @click.prevent="cngpgnum(curpgnum+1)"
              >
                {%- render 'icon-caret' -%}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
